<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2012-2013 by Chris Cormack
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->
<module version="2.0">
  <meta>
    <identity>
      <uri>urn:uk:me:cormack:netkernel:accounts:web</uri>
      <version>0.2.0</version>
    </identity>
    <info>
      <name>Cormack Accounts / Web</name>
      <description>A personal accounting system in NetKernel</description>
    </info>
  </meta>

  <system>
    <dynamic/>
  </system>
  <rootspace name="Cormack Accounts / Web" uri="urn:uk:me:cormack:netkernel:accounts:web" public="true">
    <fileset>
      <regex>res:/(etc/system/SimpleDynamicImportHook\.xml)</regex>
      <rewrite>res:/uk/me/cormack/netkernel/accounts/web/$1</rewrite>
    </fileset>

    <import>
      <uri>urn:uk:me:cormack:netkernel:accounts:web:static</uri>
    </import>

    <overlay>
      <prototype>jetty.HTTPSession</prototype>
      <config>
        <prototype>HTTPSession</prototype>
        <maxSessions>100</maxSessions>
        <minDuration>7200000</minDuration> <!-- two hours -->
        <maxDuration>86400000</maxDuration> <!-- one day -->
        <cookiePath>/cormackAccounts/</cookiePath>
        <cookieName>CORMACK-ACCOUNTS_NETKERNEL_SESSION_COOKIE</cookieName>
        <autoReconnect>true</autoReconnect>
      </config>
      <space>
        <import>
          <uri>urn:uk:me:cormack:netkernel:accounts:web:inner</uri>
        </import>
      </space>
    </overlay>

    <import>
      <uri>urn:org:netkernel:tpt:http</uri>
      <private/>
    </import>
  </rootspace>

  <rootspace uri="urn:uk:me:cormack:netkernel:accounts:web:static">
    <mapper>
      <config>res:/uk/me/cormack/netkernel/accounts/web/style/mapperConfig.xml</config>
      <space>
        <fileset>
          <regex>res:/uk/me/cormack/netkernel/accounts/web/style/.*</regex>
        </fileset>
      </space>
    </mapper>
    <fileset>
      <regex>res:/uk/me/cormack/netkernel/accounts/web/style/.*</regex>
      <private/>
    </fileset>
  </rootspace>

  <rootspace name="Cormack Accounts / Inner" uri="urn:uk:me:cormack:netkernel:accounts:web:inner">
    <pluggable-overlay>
      <preProcess>
        <identifier>active:java</identifier>
        <argument name="class">uk.me.cormack.netkernel.accounts.web.security.AccessAndMaintenanceModeControlAccessor</argument>
        <argument name="request">arg:request</argument>
      </preProcess>
      <space>
        <mapper>
          <config>active:java+class@uk.me.cormack.netkernel.accounts.web.MapperConfigAccessor</config>
          <space>
            <fileset>
              <regex>res:/uk/me/cormack/netkernel/accounts/web/.*</regex>
            </fileset>

            <import>
              <uri>urn:uk:me:cormack:netkernel:accounts:db</uri>
              <private/>
            </import>

            <import>
              <uri>urn:org:netkernel:ext:layer1</uri>
              <private/>
            </import>
            <import>
              <uri>urn:org:netkernelroc:mod:layer2</uri>
              <private/>
            </import>

            <import>
              <uri>urn:org:netkernel:xml:core</uri>
              <private/>
            </import>
            <import>
              <uri>urn:org:netkernel:xml:saxon</uri>
              <private/>
            </import>
            <import>
              <uri>urn:org:netkernel:lang:xrl</uri>
              <private/>
            </import>
          </space>
        </mapper>

        <fileset>
          <regex>res:/uk/me/cormack/netkernel/accounts/web/.*</regex>
        </fileset>

        <import>
          <uri>urn:uk:me:cormack:netkernel:accounts:db</uri>
          <private/>
        </import>

        <import>
          <uri>urn:org:netkernel:ext:layer1</uri>
          <private/>
        </import>
        <import>
          <uri>urn:org:netkernelroc:mod:layer2</uri>
          <private/>
        </import>

        <import>
          <uri>urn:org:netkernel:xml:core</uri>
          <private/>
        </import>
        <import>
          <uri>urn:org:netkernel:lang:xrl</uri>
          <private/>
        </import>
        <import>
          <uri>urn:org:netkernel:xml:saxon</uri>
          <private/>
        </import>
      </space>
      <postProcess>
        <identifier>active:java</identifier>
        <argument name="class">uk.me.cormack.netkernel.accounts.web.style.AutoStyleAccessor</argument>
        <argument name="request">arg:request</argument>
        <argument name="response">arg:response</argument>
      </postProcess>
    </pluggable-overlay>
  </rootspace>

  <rootspace name="Cormack Accounts / Cron" uri="urn:uk:me:cormack:netkernel:accounts:web:cron">
    <fileset>
      <regex>res:/(etc/system/CronConfig\.xml)</regex>
      <rewrite>res:/uk/me/cormack/netkernel/accounts/web/$1</rewrite>
    </fileset>
    <mapper>
      <config>
        <endpoint>
          <grammar>
            <active>
              <identifier>cormackAccounts:cron:repeatingTransaction:apply</identifier>
            </active>
          </grammar>
          <request>
            <identifier>active:java</identifier>
            <argument name="class">uk.me.cormack.netkernel.accounts.web.repeatingTransaction.apply.ApplyAllAccessor</argument>
          </request>
        </endpoint>
      </config>
      <space>
        <import>
          <uri>urn:org:netkernel:ext:layer1</uri>
          <private/>
        </import>
        <import>
          <uri>urn:uk:me:cormack:netkernel:accounts:db</uri>
          <private/>
        </import>
      </space>
    </mapper>

    <import>
      <uri>urn:org:netkernel:ext:layer1</uri>
      <private/>
    </import>
    <import>
      <uri>urn:org:netkernelroc:mod:layer2</uri>
      <private/>
    </import>
    <import>
      <uri>urn:uk:me:cormack:netkernel:accounts:db</uri>
      <private/>
    </import>
  </rootspace>
</module>
